body {
  background-color: #3b3a3aee;
  color: white;
}
.container {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.side {
  padding: 20px;
  text-align: center;
}

.side h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.row {
  display: flex;
}

.cell {
  cursor: pointer;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
}

.empty {
  color: #f1e8e8;
}

.ship {
  color: tomato;
  font-size: 1.2rem;
}

.missed {
  color: #f1e8e856;
  font-size: .6rem;
}

.hit {
  color: indigo;
  font-size: 1.6rem;
}
